=begin
#Corrigo Api Integration

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.6.0

=end

require 'cgi'

module Corrigo
  class BatchApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create batch of entities
    # @param api_version [String] 
    # @param authorization [String] Bearer token
    # @param company_name [String] Company friendly name
    # @param batch_request [Array<BatchChangeRequestItem>] List of ChangeRequests
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def batch_create_multiple(api_version, authorization, company_name, batch_request, opts = {})
      data, _status_code, _headers = batch_create_multiple_with_http_info(api_version, authorization, company_name, batch_request, opts)
      data
    end

    # Create batch of entities
    # @param api_version [String] 
    # @param authorization [String] Bearer token
    # @param company_name [String] Company friendly name
    # @param batch_request [Array<BatchChangeRequestItem>] List of ChangeRequests
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def batch_create_multiple_with_http_info(api_version, authorization, company_name, batch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchApi.batch_create_multiple ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BatchApi.batch_create_multiple"
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling BatchApi.batch_create_multiple"
      end
      # verify the required parameter 'company_name' is set
      if @api_client.config.client_side_validation && company_name.nil?
        fail ArgumentError, "Missing the required parameter 'company_name' when calling BatchApi.batch_create_multiple"
      end
      # verify the required parameter 'batch_request' is set
      if @api_client.config.client_side_validation && batch_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_request' when calling BatchApi.batch_create_multiple"
      end
      # resource path
      local_var_path = '/v{apiVersion}/batch/Create'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Authorization'] = authorization
      header_params[:'CompanyName'] = company_name

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BatchApi.batch_create_multiple",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchApi#batch_create_multiple\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete batch of entities
    # @param api_version [String] 
    # @param authorization [String] Bearer token
    # @param company_name [String] Company friendly name
    # @param batch_request [Array<BatchEntityRequestItem>] List of EntityRequests
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def batch_delete_multiple(api_version, authorization, company_name, batch_request, opts = {})
      data, _status_code, _headers = batch_delete_multiple_with_http_info(api_version, authorization, company_name, batch_request, opts)
      data
    end

    # Delete batch of entities
    # @param api_version [String] 
    # @param authorization [String] Bearer token
    # @param company_name [String] Company friendly name
    # @param batch_request [Array<BatchEntityRequestItem>] List of EntityRequests
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def batch_delete_multiple_with_http_info(api_version, authorization, company_name, batch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchApi.batch_delete_multiple ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BatchApi.batch_delete_multiple"
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling BatchApi.batch_delete_multiple"
      end
      # verify the required parameter 'company_name' is set
      if @api_client.config.client_side_validation && company_name.nil?
        fail ArgumentError, "Missing the required parameter 'company_name' when calling BatchApi.batch_delete_multiple"
      end
      # verify the required parameter 'batch_request' is set
      if @api_client.config.client_side_validation && batch_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_request' when calling BatchApi.batch_delete_multiple"
      end
      # resource path
      local_var_path = '/v{apiVersion}/batch/Delete'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Authorization'] = authorization
      header_params[:'CompanyName'] = company_name

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BatchApi.batch_delete_multiple",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchApi#batch_delete_multiple\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Execute batch of commands
    # @param api_version [String] 
    # @param authorization [String] Bearer token
    # @param company_name [String] Company friendly name
    # @param batch_request [Array<BatchCmdRequestItem>] List of CmdRequests
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def batch_execute_multiple(api_version, authorization, company_name, batch_request, opts = {})
      data, _status_code, _headers = batch_execute_multiple_with_http_info(api_version, authorization, company_name, batch_request, opts)
      data
    end

    # Execute batch of commands
    # @param api_version [String] 
    # @param authorization [String] Bearer token
    # @param company_name [String] Company friendly name
    # @param batch_request [Array<BatchCmdRequestItem>] List of CmdRequests
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def batch_execute_multiple_with_http_info(api_version, authorization, company_name, batch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchApi.batch_execute_multiple ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BatchApi.batch_execute_multiple"
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling BatchApi.batch_execute_multiple"
      end
      # verify the required parameter 'company_name' is set
      if @api_client.config.client_side_validation && company_name.nil?
        fail ArgumentError, "Missing the required parameter 'company_name' when calling BatchApi.batch_execute_multiple"
      end
      # verify the required parameter 'batch_request' is set
      if @api_client.config.client_side_validation && batch_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_request' when calling BatchApi.batch_execute_multiple"
      end
      # resource path
      local_var_path = '/v{apiVersion}/batch/Cmd'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Authorization'] = authorization
      header_params[:'CompanyName'] = company_name

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BatchApi.batch_execute_multiple",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchApi#batch_execute_multiple\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get batch of entities
    # @param api_version [String] 
    # @param authorization [String] Bearer token
    # @param company_name [String] Company friendly name
    # @param batch_request [Array<BatchEntityRequestItem>] List of EntityRequests
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def batch_get_multiple(api_version, authorization, company_name, batch_request, opts = {})
      data, _status_code, _headers = batch_get_multiple_with_http_info(api_version, authorization, company_name, batch_request, opts)
      data
    end

    # Get batch of entities
    # @param api_version [String] 
    # @param authorization [String] Bearer token
    # @param company_name [String] Company friendly name
    # @param batch_request [Array<BatchEntityRequestItem>] List of EntityRequests
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def batch_get_multiple_with_http_info(api_version, authorization, company_name, batch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchApi.batch_get_multiple ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BatchApi.batch_get_multiple"
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling BatchApi.batch_get_multiple"
      end
      # verify the required parameter 'company_name' is set
      if @api_client.config.client_side_validation && company_name.nil?
        fail ArgumentError, "Missing the required parameter 'company_name' when calling BatchApi.batch_get_multiple"
      end
      # verify the required parameter 'batch_request' is set
      if @api_client.config.client_side_validation && batch_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_request' when calling BatchApi.batch_get_multiple"
      end
      # resource path
      local_var_path = '/v{apiVersion}/batch/Get'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Authorization'] = authorization
      header_params[:'CompanyName'] = company_name

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BatchApi.batch_get_multiple",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchApi#batch_get_multiple\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update batch of entities
    # @param api_version [String] 
    # @param authorization [String] Bearer token
    # @param company_name [String] Company friendly name
    # @param batch_request [Array<BatchChangeRequestItem>] List of ChangeRequests
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def batch_update_multiple(api_version, authorization, company_name, batch_request, opts = {})
      data, _status_code, _headers = batch_update_multiple_with_http_info(api_version, authorization, company_name, batch_request, opts)
      data
    end

    # Update batch of entities
    # @param api_version [String] 
    # @param authorization [String] Bearer token
    # @param company_name [String] Company friendly name
    # @param batch_request [Array<BatchChangeRequestItem>] List of ChangeRequests
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def batch_update_multiple_with_http_info(api_version, authorization, company_name, batch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchApi.batch_update_multiple ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BatchApi.batch_update_multiple"
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling BatchApi.batch_update_multiple"
      end
      # verify the required parameter 'company_name' is set
      if @api_client.config.client_side_validation && company_name.nil?
        fail ArgumentError, "Missing the required parameter 'company_name' when calling BatchApi.batch_update_multiple"
      end
      # verify the required parameter 'batch_request' is set
      if @api_client.config.client_side_validation && batch_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_request' when calling BatchApi.batch_update_multiple"
      end
      # resource path
      local_var_path = '/v{apiVersion}/batch/Update'.sub('{' + 'apiVersion' + '}', CGI.escape(api_version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Authorization'] = authorization
      header_params[:'CompanyName'] = company_name

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BatchApi.batch_update_multiple",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchApi#batch_update_multiple\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
